.img-carousel {
    height: 400px;
    object-fit: cover;
    width: 100% ;
}

.carousel {
    background-image: url("https://previews.123rf.com/images/klavapuk/klavapuk1111/klavapuk111100009/11518381-seamless-background-with-books.jpg");
}